.App {
  text-align: center;
  background-color: #282c34;
}

h1 {
  width: auto;
  color: #d3d3d3;
  
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
  position: relative;
  padding-left: 4%;
  
}
h2 {
  color: #d3d3d3;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  position: relative;
  top: 20px;
}
h3 {
  color: #d3d3d3;
  font-family: Inter;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  padding-left: 30px;
  margin-top: 0;
  position: relative;
}
h4 {
  color: #d3d3d3;
  font-family: Inter;
  font-size: 16px;
}
.App-center-container{
  display: flex;
  min-height: 80vh;
  min-width: 100vh;
  align-items: center;
  justify-content: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header style*/ 
.navbar {
  overflow: hidden;
  background-color: #282c34;
  padding-top:15px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  text-decoration: none;
}

.navbar li{
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  padding-left: 0px;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding-bottom: 14px !important;
  padding-left: 14px;
  padding-right: 14px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #282c34;
  min-width: 160px;
  z-index: 1;
  /* top: 7.5%; */
}

.dropdown-content a {
  float: none;
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-links{
  margin-top: 5px;
  
}

button.logout{
  float: right;
  font-size: 16px;  
  color: #ddd;
  border-style: none;
  margin-right: 5%;
  background-color: transparent;
}

button.logout:hover{
  color: red;
}

button.actionBtn{
  width: auto;
}

button{
  height: 40px;
  border-radius: 12px;
  border-width: 0cap;
}

a.login{ 
  float: right;
  padding-top: 8px;
  padding-right: 5%;

}

.Loading{
  color: rgb(236, 236, 236);
  font-size: 40px;
  
}

.App-basic-header{
  color: rgb(236, 236, 236);
  padding-left: 5%;
  display: flex;
  align-items: center;
  
}
.App-basic-header .item{
  margin-right: 20px;
}

.pagination-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination-buttons button{
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.pagination-buttons button:hover{
  .icon{
    color: #61dafb;
    font-size: 17px;
  }
}

.pagination-buttons button:active{

  .icon{
    font-size: 15px;
  }

}

.pagination-buttons .icon{
  color: whitesmoke;
  font-size: 15px;
}