.summary-banner {
    display: flex;
    width: 900px;
    height: 15px;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.summary-banner-headers {
    display: flex;
    width: 900px;
    height: 15px;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: transparent;
    color: #d3d3d3;
    margin-top: 10px;
}

.summary-banner-headers .item {
    width: 600px; /* Set the specific width for each item */
    padding: 10px; /* Set the padding between items */
    box-sizing: border-box; /* Include padding in the width */
    text-align: center; /* Center the text inside the box */
}

.summary-banner .item {
    width: 600px; /* Set the specific width for each item */
    padding: 10px; /* Set the padding between items */
    box-sizing: border-box; /* Include padding in the width */
    text-align: center; /* Center the text inside the box */
}

.summary-banner h1,
.summary-banner p {
    margin: 0;
}

.project-summary-banner-headers {
    display: flex;
    width: 900px;
    height: 15px;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: transparent;
    color: #d3d3d3;
    margin-top: 10px;
}

.project-summary-banner-headers .item {
    width: 600px; /* Set the specific width for each item */
    padding: 10px; /* Set the padding between items */
    box-sizing: border-box; /* Include padding in the width */
    text-align: center; /* Center the text inside the box */
}